.contact_container {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px 40px;
    width: 456px;
    height: calc(100vh - 96px);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .no_contacts {
        text-align: center;
        color: #666;
        font-size: 18px;
        padding: 40px;
    }

    .btn_add {
        padding: 10px 20px;
        background-color: rgba(42, 54, 71, 1);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: all 0.3s ease-in-out;

        img {
            height: 20px;
            width: 30px;
            margin-left: 10px;
        }

        &:hover {
            background-color: #29ABE2;
        }
    }
}

.name_container {
    display: flex;
    gap: 30px;
    margin: 5px 0;
    cursor: pointer;
    padding: 15px 20px;
    transition: all 250ms ease-in-out;

    &:hover {
        border-radius: 10px;
        background: #2A3647;
        color: white;
    }

    .name_icon {
        min-height: 42px;
        min-width: 42px;
        border-radius: 100px;
        background-color: #007CEE;
        outline: 2px solid white;
        text-align: center;
        line-height: 42px;
        color: white;

    }

    .name_email {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .email {
        color: rgba(0, 124, 238, 1);
        display: inline-block;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: bottom;
    }
}

.btn_add_responsive {
    display: none;
}

.list_containter {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
    }
}


.list_element {
    list-style: none;
}

@media (max-width: 1300px) {
    .contact_container {
        padding: 20px;
        width: 400px;
    }
}

@media (max-width: 1000px) {

    .contact_container {
        height: calc(100vh - 160px);
    }

    .btn_add {
        display: none;
    }

    .btn_add_responsive {
        position: absolute;
        bottom: 100px;
        right: 30px;
        display: block;
        width: 56px;
        height: 56px;
        border: none;
        border-radius: 100px;
        background-color: rgba(42, 54, 71, 1);
        transition: all 250ms ease-in-out;

        &:hover {
            background-color: #29ABE2;
            cursor: pointer;
        }

        img {
            width: 32px;
            height: 32px;
            margin-left: 2px;
        }
    }

    h3 {
        margin-left: 32px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 20px;
    }
}

@media(max-width:900px) {
    .contact_container {
        max-width: unset;
        width: 400px;
    }
}

@media(max-width:800px) {
    :host {
        width: 100%;
    }

    .contact_container {
        width: 100%;
    }

    .name_container {
        width: 100%;

        .email {
            width: 100%;
            span{
                width: 100%;
            }
        }
    }
}

// @media (max-width: 610px) {
//     .name_container {
//         gap: 15px;
//         padding: 10px 15px;

//         .name_icon {
//             height: 36px;
//             width: 36px;
//             line-height: 36px;
//             font-size: 18px;
//         }

//         h3 {
//             font-size: 16px;
//         }
//     }
// }

// @media (max-width: 585px) {
//     .contact_container {
//         width: 300px;
//         padding: 0 15px;

//     }
// }

// @media (max-width: 480px) {
//     .contact_container {
//         width: 100vw;
//         padding: 15px 20px;
//         z-index: 10;
//     }
// }