.contact_container {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px 60px;
    max-width: 450px;
    height: calc(100vh - 96px);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 15px;

    a {
        color: rgba(0, 124, 238, 1);
    }

    .no_contacts {
        text-align: center;
        color: #666;
        font-size: 18px;
        padding: 40px;
    }

    .btn_add {
        padding: 10px 20px;
        background-color: rgba(42, 54, 71, 1);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s;

        img {
            height: 20px;
            width: 30px;
            margin-left: 10px;
        }

        &:hover {
            background-color: #29ABE2;
        }
    }
}

.name_container {
    display: flex;
    gap: 40px;
    margin: 20px 0;

    .name_icon {
        height: 42px;
        width: 42px;
        border-radius: 100px;
        background-color: #007CEE;
        text-align: center;
        line-height: 42px;
        color: white;
        
    }
}

.list_containter {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.list_element{
    list-style: none;
}