<div class="contact_container">
    <button class="btn_add" (click)="openAddContact()">
        Add new contact <img src="./assets/icons/contact/person_add_two.svg" alt="">
    </button>
    <ul class="list_container">
        @for (letter of groupedKeys; track letter) {
        <li class="list_element">
            <h3>{{ letter }}</h3>
            <hr>
            @for (item of groupedContacts[letter]; track item.id) {
            <div class="name_container" (click)="showDetails(item)">
                <p class="name_icon" [style.background-color]="contactService.getColorForContact(item)">
                    {{ contactService.getInitials(item.firstname, item.lastname) }}</p>
                <p>
                    {{ item.firstname }} {{ item.lastname }} <br>
                <span class="email">{{ item.email }}</span>
                </p>
            </div>
            }
        </li>
        } @empty {
        <p>No contacts</p>
        }
    </ul>
    
</div>
<button class="btn_add_responsive" (click)="openAddContact()"><img src="./assets/icons/contact/person_add_two.svg" alt=""></button>
@if (isClicked) {
<app-add (closeAddContact)="handleClose()"></app-add>
}