.section_wrapper {
    padding: 70px 0 0 70px;
}

.summary_title {
    display: flex;
    align-items: center;

    h1 {
        font-size: 61px;
        font-weight: 700;
        border-right: 3px solid #29ABE2;
        padding-right: 25px;
        margin-right: 25px;
    }

    img {
        rotate: (90deg);
        width: 59px;
    }

    h3 {
        font-size: 27px;
        font-weight: 400;
    }
}

.main_content {
    display: flex;
}

.first_line {
    display: flex;
    justify-content: space-between;
    gap: 18px;
}

.task_table {
    width: 560px;
    align-self: flex-start;
    margin-top: 36px;
}

.table_cell_todo,
.table_cell_done {
    width: 264px;
    height: 168px;
    cursor: pointer;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 18px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    &:hover {
        background-color: #293647;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        scale: (1.08);
        color: white;

        .todo_icon {
            background: url("/assets/icons/summary/to_do_icon_hover.svg")no-repeat center / contain;
        }

        .done_icon {
            background: url("/assets/icons/summary/done_icon_hover.svg")no-repeat center / contain;
        }
    }

    p {
        font-size: 20px;
        font-weight: 400;
    }
}

.todo_icon {
    width: 69px;
    height: 69px;
    background: url("/assets/icons/summary/to_do_icon.svg")no-repeat center / contain;
}

.done_icon {
    width: 69px;
    height: 69px;
    background: url("/assets/icons/summary/done_icon.svg")no-repeat center / contain;
}

.table_cell_bottom {
    width: 168px;
    height: 168px;
    cursor: pointer;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 19px 40px;
    gap: 18px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    >p {
        font-size: 20px;
        font-weight: 400;
    }

    &:hover {
        background-color: #293647;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        scale: (1.08);
        color: white;
    }
}

.count {
    font-size: 64px;
    font-weight: 600;
}

.task_count {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;

    >img {
        height: 69px;
        width: 69px;
    }

    >p {
        font-size: 20px;
        font-weight: 400;
    }
}

.urgent_task {
    width: 560px;
    height: 168px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    margin: 30px 0;
    // gap: 18px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;

    .urgent_icon {
        height: 69px;
        width: 69px;
    }

    p {
        font-size: 20px;
        font-weight: 400;
    }

    &:hover {
        background-color: #293647;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        scale: (1.08);

        >.task_count {
            background-color: #293647;
        }

        >div span {
            color: white;
        }

        >div p {
            color: white;
        }
    }
}

.task_table,
.urgent_task,
.table_cell_todo,
.table_cell_done,
.table_cell_bottom {
    width: 100%;
    max-width: 560px;
    box-sizing: border-box;
    padding: 16px;
    gap: 18px;
}


.count {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.due_date {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .task_date {
        font-size: 21px;
        font-weight: 700;
        font-weight: bold;
        text-wrap: nowrap;
        color: #2A3647;
    }
}

.third_line {
    display: flex;
    justify-content: space-between;
    gap: 18px;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 56px;

    .username {
        font-size: 64px;
        font-weight: 700;
        color: #29ABE2;
    }
}

.greeting {
    font-size: 47px;
    font-weight: 500;
    color: #2a3647;
    text-wrap: nowrap;
}

.user_name {
    font-size: 64px;
    font-weight: 700;
    color: #29abe2;
}

@media (max-width: 1300px) {
    .welcome {
        display: none;
    }
}

@media (max-width: 1000px) {
    :host {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;

        .section_wrapper {
            padding: 30px;
        }
    }
}

@media (max-width: 700px) {
    :host {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;

        .section_wrapper {
            height: calc(100vh - 160px);
            display: flex;
            flex-direction: column;
            padding: 0;
            align-items: center;
            justify-content: center;
        }

        .summary_title {
            width: 100%;
            align-items: flex-start;
            flex-direction: column;
            padding-left: 10px;

            h1 {
                font-size: 47px;
                border-right: unset;
                padding-right: 0;
                margin-right: 0;
            }

            h3 {
                font-size: 20px;

                span {
                    border-bottom: 2px solid #29ABE2;
                    padding-bottom: 10px;
                }
            }
        }

        .task_table {
            width: 100%;
            margin-top: 20px;
        }

        .first_line {
            width: 100%;
            gap: 10px;
        }

        .table_cell_todo,
        .table_cell_done {
            width: 186px;
            height: 110px;
            gap: 10px;
            border-radius: 20px;

            span {
                font-size: 47px;
            }

            p {
                font-size: 16px;
            }
        }

        .todo_icon,
        .done_icon {
            width: 40px;
            height: 40px;
        }

        .third_line {
            width: 100%;
        }

        .table_cell_bottom {
            width: 116px;
            height: 116px;
            border-radius: 20px;

            span {
                font-size: 47px;
                font-weight: 600;
            }

            p {
                font-size: 14px;
                font-weight: 400;
            }

            &:hover {
                background-color: #293647;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                scale: (1.08);
                color: white;
            }
        }

        .urgent_task {
            width: 100%;
            height: 110px;
            margin: 20px 0;
            border-radius: 20px;

            .urgent_icon {
                height: 40px;
                width: 40px;
            }

            span {
                font-size: 47px;
                font-weight: 600;
            }

            p {
                font-size: 15px;
            }
        }

        .task_table,
        .urgent_task,
        .table_cell_todo,
        .table_cell_done,
        .table_cell_bottom {
            width: 100%;
            max-width: 320px;
            padding: 10px;
            gap: 10px;
        }

        .due_date {
            gap: 15px;

            .task_date {
                font-size: 16px;
            }
        }

        .third_line {
            gap: 10px;
        }
    }
}