.section_wrapper {
    padding: 70px 0 0 70px;
}

.summary_title {
    display: flex;
    align-items: center;

    h1 {
        font-size: 61px;
        font-weight: 700;
        border-right: 3px solid #29ABE2;
        padding-right: 25px;
        margin-right: 25px;
    }

    img {
        rotate: (90deg);
        width: 59px;
    }

    h3 {
        font-size: 27px;
        font-weight: 400;
    }
}

.main_content {
    display: flex;
}

.first_line {
    display: flex;
    justify-content: space-between;
    gap: 18px;
}

.task_table {
    width: 560px;
    align-self: flex-start;
    margin-top: 36px;
}

.table_cell_todo,
.table_cell_done {
    width: 264px;
    height: 168px;
    cursor: pointer;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 18px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    &:hover {
        background-color: #293647;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        scale: (1.08);
        color: white;

        .todo_icon {
            background: url("/assets/icons/summary/to_do_icon_hover.svg")no-repeat center / contain;
        }

        .done_icon {
            background: url("/assets/icons/summary/done_icon_hover.svg")no-repeat center / contain;
        }
    }

    p {
        font-size: 20px;
        font-weight: 400;
    }
}

.todo_icon {
    width: 69px;
    height: 69px;
    background: url("/assets/icons/summary/to_do_icon.svg")no-repeat center / contain;
}

.done_icon {
    width: 69px;
    height: 69px;
    background: url("/assets/icons/summary/done_icon.svg")no-repeat center / contain;
}

.table_cell_bottom {
    width: 168px;
    height: 168px;
    cursor: pointer;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 19px 40px;
    gap: 18px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    >p {
        font-size: 20px;
        font-weight: 400;
    }

    &:hover {
        background-color: #293647;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        scale: (1.08);
        color: white;
    }
}

.count {
    font-size: 64px;
    font-weight: 600;
}

.task_count {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;

    >img {
        height: 69px;
        width: 69px;
    }

    >p {
        font-size: 20px;
        font-weight: 400;
    }
}

.urgent_task {
    width: 560px;
    height: 168px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    margin: 30px 0;
    // gap: 18px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;

    .urgent_icon {
        height: 69px;
        width: 69px;
    }

    p {
        font-size: 20px;
        font-weight: 400;
    }

    &:hover {
        background-color: #293647;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        scale: (1.08);

        >.task_count {
            background-color: #293647;
        }

        >div span {
            color: white;
        }

        >div p {
            color: white;
        }
    }
}

.task_table,
.urgent_task,
.table_cell_todo,
.table_cell_done,
.table_cell_bottom {
    width: 100%;       
    max-width: 560px;  
    box-sizing: border-box;
    padding: 16px;
    gap: 18px;     
}


.count {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.due_date {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .task_date {
        font-size: 21px;
        font-weight: 700;
        font-weight: bold;
        text-wrap: nowrap;
        color: #2A3647;
    }
}

.third_line {
    display: flex;
    justify-content: space-between;
    gap: 18px;
}



.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 56px;

    .username {
        font-size: 64px;
        font-weight: 700;
        color: #29ABE2;
    }
}

.greeting {
    font-size: 47px;
    font-weight: 500;
    color: #2a3647;
    text-wrap: nowrap;
}

.user_name {
    font-size: 64px;
    font-weight: 700;
    color: #29abe2;
}

@media (max-width: 1200px) {
    .section_wrapper { padding-left: 72px; padding-right: 72px; }
    .welcome { margin-left: 30px; }
    .user_name { font-size: 55px; }
    .summary_title {
        flex-direction: column;
        align-items: flex-start;
    }
    .summary_title > img {
        transform: none;
        order: 3;
        margin-top: 16px;
    }
}

@media (max-width: 1065px) {
    h1 { font-size: 48px; }
    h3 { font-size: 24px; }
    .greeting { display: none; }
    .user_name { display:none; }
    .welcome { display: none; }
    .user_name { display: none; }
}

@media only screen and (max-width: 690px) {
    .section_wrapper { padding-left: 36px; padding-right: 36px; }
    .table_cell_todo,
    .table_cell_done { 
        padding: 16px 16px; 
        gap: 8px;
       
    }
    .urgent_task { padding: 16px 16px; }
    .task_count { gap: 8px; }
    .summary_title {
        flex-direction: column;
        align-items: flex-start;
    }
    .summary_title > img {
        transform: none;
        order: 3;
        margin-top: 16px;
    }
}

@media only screen and (max-width: 600px) {
    .section_wrapper { padding-left: 36px; padding-right: 36px; }
    .table_cell_todo,
    .table_cell_done { 
        padding: 13px 13px; 
        gap: 5px;
        height: 150px;
        width: 200px;
    }
    .urgent_task { padding: 13px 13px; }
    .task_count { gap: 5px; }
    .summary_title {
        flex-direction: column;
        align-items: flex-start;
    }
    .summary_title > img {
        transform: none;
        order: 3;
        margin-top: 16px;
    }
    .due_date .task_date { font-size: 18px;}
    .urgent_task p { font-size: 18px; }
}

@media only screen and (max-width: 465px) {
    .section_wrapper { padding: 100px 16px 0 16px; }
    .main_content { flex-direction: column; justify-content: center; align-items: center; }

    .task_table,
    .urgent_task,
    .table_cell_todo,
    .table_cell_done,
    .table_cell_bottom {
        width: 100%;
        max-width: 360px;
        
    }

    .summary_title {
        flex-direction: column;
        align-items: center;
    }

    .summary_title > img {
        transform: none;
        order: 3;
        margin-top: 16px;
        width: 50px;
        height: auto;
    }

    h1 { font-size: 36px; }
    h3 { font-size: 18px; }
    p { font-size: 14px; }
    .count { font-size: 40px; }

    /* Verstecke Header-Texte */
    .greeting, .user_name { display: none; }
    .due_date .task_date { font-size: 16px;}
    .urgent_task p { font-size: 16px; }
    
}