.section_wrapper {
  padding-top: 56px;
  padding-left: 56px;
}

.summary_title {
  display: flex;
  align-items: center;
  > img {
    rotate: (90deg);
    width: 59px;
  }
}

.main_content {
  display: flex;
}

.first_line {
  display: flex;
  justify-content: space-between;
}

.task_table {
  width: 560px;
  align-self: flex-start;
  margin-top: 36px;
}

.table_cell {
  cursor: pointer;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 19px 40px;
  gap: 18px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  > img {
    height: 69px;
    width: 69px;
  }
  > p {
    font-size: 20px;
    font-weight: 400;
  }
}

.count {
  font-size: 64px;
  font-weight: 600;
}

.table_cell:hover {
  background-color: #293647;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  scale: (1.08);
  > .todo_icon {
    content: url(./../../../../public/assets/icons/summary/to_do_icon_hover.svg);
  }
  > .done_icon {
    content: url(./../../../../public/assets/icons/summary/done_icon_hover.svg);
  }
  > div .count {
    color: white;
  }
  > div p {
    color: white;
  }
}

.task_count {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 28px 48px;
  gap: 18px;
  > img {
    height: 69px;
    width: 69px;
  }
  > p {
    font-size: 20px;
    font-weight: 400;
  }
}

.urgent_task {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 19px 48px;
  margin-bottom: 19px;
  margin-top: 19px;
  gap: 18px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  > .urgent_icon {
    height: 69px;
    width: 69px;
  }
  > p {
    font-size: 20px;
    font-weight: 400;
  }
}

.urgent_task:hover {
  background-color: #293647;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  scale: (1.08);
  > .task_count {
    background-color: #293647;
  }
  > div span {
    color: white;
  }
  > div p {
    color: white;
  }
}

.count {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task_date {
  font-size: 21px;
  font-weight: 700;
  text-wrap: nowrap;
}

.third_line {
  display: flex;
  justify-content: space-between;
}

.more_padding {
  padding-left: 52px;
  padding-right: 52px;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 56px;
}

.greeting {
  font-size: 47px;
  font-weight: 500;
  color: #2a3647;
  text-wrap: nowrap;
}

.user_name {
  font-size: 64px;
  font-weight: 700;
  color: #29abe2;
}
