<section class="section_wrapper">
    <div id="summaryUpstairs" class="summary_title">
        <h1>Join 360</h1>
        <h3><span>Key Metrics</span> at a Glance</h3>
    </div>

    <div class="main_content">
        <div class="task_table" *ngIf="showMainContent">
            <div class="first_line">
                <div class="table_cell_todo" routerLink="/board">
                    <div class="todo_icon" alt="to do task icon" ></div>
                    <div>
                        <span class="count">{{ this.boardService.toDoList.length }}</span>
                        <p>To-do</p>
                    </div>
                </div>
                <div class="table_cell_done"  routerLink="/board">
                    <div class="done_icon" alt="done task icon"></div>
                    <div>
                        <span class="count">{{ this.boardService.doneList.length }}</span>
                        <p>Done</p>
                    </div>
                </div>
            </div>

            <div class="urgent_task"  routerLink="/board">
                <div class="task_count">
                    <img class="urgent_icon" src="./assets/icons/summary/urgent_icon.svg" alt="urgent task icon" />
                    <div>
                        <span class="count">{{ this.boardService.urgentTaskCount }}</span>
                        <p>Urgent</p>
                    </div>
                </div>
                <img class="divider" src="./assets/icons/summary/grey_dividing_line.svg" alt="grey line" />
                <div class="due_date">
                    <p class="task_date">{{ this.boardService.nextUrgentDeadline }}</p>
                    <p>Upcoming Deadline</p>
                </div>
            </div>

            <div class="third_line">
                <div class="table_cell_bottom" routerLink="/board">
                    <div>
                        <span class="count">{{ this.boardService.taskList.length }}</span>
                        <p>Tasks in<br />Board</p>
                    </div>
                </div>
                <div class="table_cell_bottom" routerLink="/board">
                    <div>
                        <span class="count">{{ this.boardService.inProgressList.length }}</span>
                        <p>Tasks in<br />Progress</p>
                    </div>
                </div>
                <div class="table_cell_bottom" routerLink="/board">
                    <div>
                        <span class="count">{{ this.boardService.awaitFeedbackList.length }}</span>
                        <p>Awaiting<br />Feedback</p>
                    </div>
                </div>
            </div>
        </div>

        @if (userName){
        <div class="welcome">
            <span class="greeting" id="guestGreeting">{{ getGreeting() }},</span>
            <p class="username">{{userName}}</p>
        </div>
        }@else {
        <div class="welcome">
            <span class="greeting">{{ getGreeting() }}!</span>
        </div>
        }
    </div>
</section>