:host {
  display: flex;
  width: 100%;
  height: 100%;
}

@media (min-width: 481px) {
  :host {
    flex-direction: row;
  }
}

@media (max-width: 480px) {
  :host {
    flex-direction: column;
  }
}