:host {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media (max-width: 789px) {
  :host {
    flex-direction: column;
    padding: 0;
  }
  
}

@media (min-width: 790px) and (max-width: 1000px) {
  :host {
    flex-direction: row;
    padding: 0;
  }
  
}

.details_hidden {
  display: none ;
}

.details_visible {
  display: block ;
}

@media (max-width: 789px) {
  app-details {
    display: none;
  }
  app-details.details_visible {
    display: block;
  }
}