:host {
  display: flex;
  width: 100%;
  height: 100%;
}

// @media (min-width: 800px) {
//   :host {
//     flex-direction: row;
//   }
// }

// @media (max-width: 800px) {
//   :host {
//     flex-direction: column;
//   }
// }