:host {
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}





@media (max-width: 789px) {
  :host {
    flex-direction: column;
    padding: 0;
  }
  
}

@media (min-width: 790px) and (max-width: 1000px) {
  :host {
    flex-direction: row;
    padding: 0;
  }
}

@media (min-width: 481px) {
  :host {
    flex-direction: row;
  }
}

@media (max-width: 480px) {
  :host {
    flex-direction: column;
  }
}