<div class="div_top">
    <img src="./assets/icons/favicon.svg">
    <div>
        <p>Not a Join user?</p>
        <a>Sign up</a>
    </div>
</div>

<form (ngSubmit)="onSubmit()" #contactForm="ngForm">
    <h1>Log in</h1>
    <span></span>
    <label>
        <input type="text" alt="Email" placeholder="Email">
        <img src="./assets/icons/contact/mail.svg" alt="Email">
    </label>
    <label>
        <input type="text" alt="Password" placeholder="Password">
        <img src="./assets/icons/contact/lock.svg" alt="Password">
        <p class="error">Check your email and password. Please try again.</p>
    </label>
    <div>
        <button class="btn_login">Log in</button>
        <button class="btn_hastlogin">Guest Log in</button>
    </div>
</form>

<div class="div_notuser_res">
    <p>Not a Join user?</p>
    <a>Sign up</a>
</div>

<div class="div_bottom">
    <a>Privacy Policy</a>
    <a>Legal notice</a>
</div>