:host {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 70px;
    background: #F6F7F8;

    .div_top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;

        img {
            width: 100px;
            height: 122px;
        }

        div {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 20px;

            p {
                font-size: 20px;
            }

            a {
                font-size: 16px;
                font-weight: 700;
                padding: 15px;
                border-radius: 8px;
                background: #2A3647;
                color: white;
                transition: all 250ms ease-in-out;

                &:hover {
                    background: #29ABE2;
                    cursor: pointer;
                }
            }
        }
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 650px;
        height: 450px;
        border-radius: 30px;
        background: #FFFFFF;
        padding: 50px;
        gap: 10px;
        margin-top: -100px;

        h1 {
            font-size: 61px;
            font-weight: 700;
        }

        span {
            width: 150px;
            height: 3px;
            background-color: #29ABE2;
            margin-top: -10px;
            margin-bottom: 10px;
        }

        label {
            position: relative;

            input {
                width: 422px;
                height: 48px;
                border-radius: 10px;
                padding: 12px 21px;
                border: 1px solid #D1D1D1;
                font-size: 20px;

                &:focus {
                    outline: none;
                    border: 1px solid #29ABE2;
                }
            }

            img {
                position: absolute;
                top: 16px;
                right: 20px;
            }

            .div_error {
                display: flex;
                justify-content: flex-start;
                height: 10px;
                margin-top: 10px;

                .error {
                    display: none;
                    color: #E60026;
                    font-size: 15px;
                }
            }
        }

        div {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            margin-top: 30px;

            .btn_login {
                width: 110px;
                height: 48px;
                border-radius: 8px;
                padding: 15px 24px;
                background: #2A3647;
                color: white;
                border: none;
                font-size: 21px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 250ms ease-in-out;

                &:hover {
                    background: #29ABE2;
                    cursor: pointer;
                }
            }

            .btn_hastlogin {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 185px;
                height: 48px;
                border-radius: 8px;
                padding: 15px 24px;
                background: #FFFFFF;
                border: 1px solid #2A3647;
                font-size: 21px;
                font-weight: 700;
                color: #2A3647;
                transition: all 250ms ease-in-out;

                &:hover {
                    border: 2.5px solid #29ABE2;
                    color: #29ABE2;
                    cursor: pointer;
                }
            }
        }
    }

    .div_notuser_res {
        display: none;
    }

    .div_bottom {
        display: flex;

        a {
            width: 150px;
            font-size: 16px;
            color: #A8A8A8;
            transition: all 250ms ease-in-out;
            text-align: center;

            &:hover {
                cursor: pointer;
                color: #29ABE2;
                font-weight: 700;
            }
        }
    }
}

@media(max-width:700px) {
    :host {
        height: unset;
        min-height: 100vh;
        justify-content: space-between;
        padding: 20px;

        .div_top {
            justify-content: flex-start;
            margin-top: 20px;
            width: 95%;

            img {
                width: 64px;
                height: 78px;
            }

            div {
                display: none;
            }
        }

        form {
            width: 100%;
            height: unset;
            padding: 25px 0;
            gap: 20px;
            margin-top: 50px;

            h1 {
                font-size: 47px;
            }

            span {
                width: 88px;
                margin-top: -10px;
                margin-bottom: 0;
            }

            label {
                width: 95%;

                input {
                    width: 100%;
                    height: 40px;
                    font-size: 18px;
                }

                img {
                    top: 11px;
                    right: 15px;
                }
            }

            div {
                flex-direction: column;
                gap: 15px;
                align-items: center;
                margin-top: 0;

                .btn_login {
                    width: 180px;
                    font-size: 16px;
                }

                .btn_hastlogin {
                    width: 180px;
                    font-size: 16px;
                }
            }
        }

        .div_notuser_res {
            margin: 50px 0;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 20px;

            p {
                font-size: 18px;
            }

            a {
                font-size: 15px;
                font-weight: 700;
                padding: 10px;
                border-radius: 8px;
                background: #2A3647;
                color: white;
                transition: all 250ms ease-in-out;

                &:hover {
                    background: #29ABE2;
                    cursor: pointer;
                }
            }
        }

        .div_bottom {
            a {
                width: 120px;
            }
        }
    }
}