:host {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #ffffff2a;
    z-index: 30;

    .error {
        outline: 1px solid red;

        &::placeholder {
            color: red;
        }
    }

    .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #2a3647;
        width: 453px;
        height: 594px;
        border-radius: 30px 0 0 30px;

        div {
            .close_w {
                display: none;
            }

            img {
                width: 54px;
                height: 66px;
            }

            p {
                font-weight: 700;
                font-style: Bold;
                font-size: 61px;
                color: #ffffff;
            }

            span {
                border-bottom: 3px solid #29ABE2;
            }
        }
    }

    .detail {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #ffffff;
        width: 745px;
        height: 594px;
        border-radius: 0 30px 30px 0;

        .left {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 120px;
            height: 120px;
            border: 3px solid #ffffff;
            outline: 1px solid #efeff0;
            border-radius: 50%;

            p {
                color: #ffffff;
                font-size: 47px;
            }
        }

        .right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .close {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin-bottom: 50px;

                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 30px;
                    height: 30px;

                    img {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        transition: all 250ms ease-in-out;

                        &:hover {
                            cursor: pointer;
                            background-color: #efeff0;
                            padding: 3px;
                        }
                    }
                }
            }

            form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 20px;

                .div_name {
                    display: flex;
                    gap: 10px;

                    .icon_name {
                        position: absolute;
                        right: 20px;
                        top: 20px;
                    }

                    input {
                        width: 206px;
                        height: 50px;
                        border: 1px solid #D1D1D1;
                        border-radius: 10px;
                        font-size: 20px;
                        padding-left: 20px;

                        &::placeholder {
                            color: #D1D1D1;
                        }

                        &:focus {
                            outline: 1px solid #29ABE2;
                        }
                    }
                }

                div {
                    position: relative;

                    .icon_email {
                        position: absolute;
                        right: 20px;
                        top: 20px;
                    }

                    .icon_phone {
                        position: absolute;
                        right: 20px;
                        top: 20px;
                    }

                    input {
                        width: 422px;
                        height: 50px;
                        border: 1px solid #D1D1D1;
                        border-radius: 10px;
                        font-size: 20px;
                        padding-left: 20px;

                        &::placeholder {
                            color: #D1D1D1;
                        }

                        &:focus {
                            outline: 1px solid #29ABE2;
                        }
                    }

                }

                .button {
                    width: 100%;
                    display: flex;
                    gap: 20px;
                    margin-top: 20px;

                    .delete {
                        width: 113px;
                        height: 55px;
                        border-radius: 8px;
                        border: 1px solid #2A3647;
                        font-size: 21px;
                        background-color: #ffffff;
                        transition: all 250ms ease-in-out;
                        color: #2A3647;

                        &:hover {
                            border: 2px solid #29ABE2;
                            color: #29ABE2;
                            cursor: pointer;
                        }
                    }

                    .save {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        width: 111px;
                        height: 57px;
                        opacity: 1;
                        border-radius: 10px;
                        background: #2A3647;
                        color: #FFFFFF;
                        font-size: 21px;
                        border: none;
                        transition: all 250ms ease-in-out;

                        &:hover {
                            background: #29ABE2;
                            cursor: pointer;
                        }

                        &:disabled {
                            background: #666;
                            cursor: no-drop;
                        }

                        img {
                            width: 15px;
                            height: 15px;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width:1300px) {
    :host {
        .title {
            width: 400px;
        }

        .detail {
            width: 600px;
        }
    }
}

@media(max-width:1000px) {
    :host {
        flex-direction: column;
        width: 100%;
        height: 100vh;

        .title {
            align-items: flex-start;
            padding-left: 15px;
            width: 500px;
            height: 300px;
            border-radius: 30px 30px 0 0;
            position: relative;

            div {
                .close_w {
                    display: flex;
                    position: absolute;
                    top: 30px;
                    right: 30px;
                    width: 15px;
                    height: 15px;

                    &:hover {
                        cursor: pointer;
                    }
                }

                img {
                    display: none;
                }

                p {
                    font-size: 47px;
                }

            }
        }

        .detail {
            flex-direction: column;
            justify-content: space-between;
            background-color: #ffffff;
            width: 500px;
            height: 390px;
            border-radius: 0 0 30px 30px;
            padding-top: 90px;

            .left {
                position: absolute;
                margin-top: -150px;
                display: flex;
            }

            .right {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 95%;

                .close {
                    display: none;
                }

                form {
                    width: 100%;

                    .div_name {
                        width: 100%;

                        input {
                            width: 100%;
                        }
                    }

                    div {
                        width: 100%;

                        input {
                            width: 100%;
                        }

                    }

                    .button {
                        justify-content: center;
                        margin-top: 0;
                    }
                }
            }
        }
    }
}

@media(max-width:550px) {
    :host {
        .title {
            width: 95%;
        }

        .detail {
            width: 95%;
        }
    }
}