section {
  height: auto;
  width: 100vw;
  max-width: 480px;
  display: flex;
  padding: 10px 15px;
  border-radius: 15px;

  .dialog_content {
    background-color: #fff;
    width: 100%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

.checkbox_content input {
  display: none;
}

.more_contacts p {
  padding-left: 6px;
  padding-top: 6px;
}

// .headline
.headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

// form
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;

  p {
    color: #2a3647;
    font-size: 16px;
  }

  label {
    color: #2a3647;
    font-size: 16px;
  }

  textarea {
    padding: 8px;
    width: 100%;
    height: 60px;
    border-radius: 7px;
    border: 1px solid #00000036;
    font-size: 16px;
    outline: none;
    transition: border 125ms ease;
    margin-bottom: 10px;

    &:focus {
      border: 1px solid #29abe2;
      box-shadow: 0px 0px 5px rgba(42, 171, 226, 0.151);
    }
  }
}

.input_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  input {
    padding: 5px 10px;
    width: 100%;
    border-radius: 7px;
    border: 1px solid #00000036;
    font-size: 16px;
    outline: none;
    transition: border 125ms ease;
    margin-bottom: 10px;
    cursor: pointer;

    &:focus {
      border: 1px solid #29abe2;
      box-shadow: 0px 0px 5px rgba(42, 171, 226, 0.151);
    }
  }
}

.prio_btns {
  display: flex;
  align-items: center;
  gap: 16px;

  >button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid #8a898921;
    background-color: white;
    width: 100%;
    color: black;
    font-weight: 400;
    font-size: 16px;

    &:hover {
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    }
  }
}

.prio.selected.urgent {
  background-color: #ff3d00;
  color: white;
  font-size: 16px;

  >svg path {
    fill: white;
  }
}

.prio.selected.medium {
  background-color: #fea800;
  color: white;
  font-size: 16px;

  >svg path {
    fill: white;
  }
}

.prio.selected.low {
  background-color: #7be129;
  color: white;
  font-size: 16px;

  >svg path {
    fill: white;
  }
}

.close_btn {
  img {
    padding: 1px;
    cursor: pointer;
  }

  img:hover {
    background-color: #00000013;
    border-radius: 50%;
  }
}

.category {
  color: #fff;
  padding: 3px 20px;
  border-radius: 5px;
}

.date_prio_content {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
}

.title2 {
  width: 100px;
  color: black;
}

.priority {
  display: flex;
  gap: 8px;
  align-items: center;
}

// .assigned_content
.assigned_content {
  position: relative;
  width: 100%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;

  .assigned_dropdown_list {
    position: absolute;
    left: 0;
    top: 50px;
    background-color: white;
    height: auto;
    border: 1px solid #dad9d9;
    border-radius: 0 0 10px 10px;
  }
}

.members_content {
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: rgba(165, 164, 164, 0.404) transparent;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.person_box {
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 0px 0px 0px 4px;

  .person_box:first-child {
    padding: 0;
  }

  .color_icon {
    background-color: rgb(12, 170, 117);
    border-radius: 50px;
    border: 1px solid #fff;
    width: 34px;
    height: 34px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.assigned_to {
  display: flex;
}

.dropdown_menu {
  background-color: white;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  z-index: 30;
  position: absolute;
  width: 100%;
  max-height: 150px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgba(165, 164, 164, 0.404) transparent;
}

.select_contacts {
  border: 1px solid #d1d1d1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
  border-radius: 8px;
}

.assigned_dropdown_input {
  width: 100%;
  margin: 0;
  border: 1px solid #e7e7e7;
  border-radius: 8px;
  background: #fff;
  font-size: 16px;
  outline: none;
  transition: border 0.2s;

  &:focus {
    border-color: #007cee;
  }
}

.assigned_dropdown_label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
  display: block;
}

.assigned_dropdown_input_wrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}

.assigned_dropdown_input {
  width: 100%;
  margin: 0;
  border: 1px solid #e7e7e7;
  border-radius: 8px;
  background: #fff;
  font-size: 16px;
  outline: none;
  transition: border 0.2s;

  &:focus {
    border-color: #007cee;
  }
}

.assigned_dropdown_arrow {
  position: absolute;
  right: 18px;
  pointer-events: none;
  font-size: 16px;
  color: #000000;
}

.assigned_selected_avatars {
  position: absolute;
  left: 60px;
  top: 40px;
  display: flex;
  align-items: center;
  gap: 5px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}

.assigned_dropdown_item {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  gap: 12px;
  border-radius: 12px;
  margin-bottom: 1px;
  cursor: pointer;
  transition: background 0.2s;

  &:hover {
    background: #f5f6f7;
  }

  &.assigned_dropdown_item_active {
    background: #2a3647;
    color: #fff;

    .assigned_dropdown_name {
      color: #fff;
    }

    .assigned_dropdown_checkbox {
      accent-color: #fff;
      border-color: #fff;
    }
  }
}

.assigned_dropdown_avatar {
  width: 35px;
  height: 35px;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;

  p {
    font-size: 12px;
    color: white;
  }
}

.assigned_dropdown_name {
  font-size: 14px;
  font-weight: 500;
  color: #2a3647;
  flex: 1;
  display: flex;
  align-items: center;
  gap: 4px;

  .you {
    color: #000000;
    margin-left: 4px;
    font-size: 12px;
  }
}

.assigned_dropdown_checkbox {
  margin-top: 8px;
  margin-left: auto;
  width: 15px;
  height: 15px;
  accent-color: #007cee;
  cursor: pointer;
}

.one_contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  height: 56px;
  font-size: 18px;

  &:hover {
    cursor: pointer;
    background-color: #5c5c5c1f;
    border-radius: 10px;
  }

  >.contact_info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
}

.avatar {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  font-size: 12px;
  color: white;
}

.btn_plain {
  font-size: 18px;
  box-sizing: border-box;

  &:hover {
    >img {
      content: url(/assets/icons/board/close_blue.svg);
    }
  }
}

.checked {
  content: url(/assets/icons/board/checkbox-checked.svg);
}

// subtasks_content
.subtasks_content {
  width: 100%;

  .subtasks_list {
    width: 100%;
    overflow-y: auto;
    height: 150px;

    .show_subtask {
      display: flex;
      justify-content: space-between;

      &:hover {
        background-color: #0000000e;
        border-radius: 5px;
        cursor: pointer;

        .x {
          display: unset;
        }
      }

      .x {
        display: none;
        margin-right: 20px;
        transition: all 250ms ease-in-out;

        &:hover {
          color: red;
          cursor: pointer;
        }
      }
    }
  }

  .checkbox_content {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 2px 15px 2px 10px;

    &:hover {
      cursor: pointer;
    }
  }
}


.subtask-input {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2117647059);
  border-radius: 10px;
  padding: 12px 16px;
  padding-right: 40px;

  &:focus {
    border: 1px solid blue;
    box-shadow: 0px 0px 5px rgba(42, 171, 226, 0.151);
  }

  &::placeholder {
    color: #d1d1d1;
  }
}

.input-icon,
.input-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  position: absolute;
  right: 25px;
  margin-top: -3px;

  div {
    img {
      padding: 5px;
      transition: all 250ms ease-in-out;

      &:hover {
        background-color: #00000013;
        border-radius: 50%;
      }
    }
  }
}

.hidden {
  display: none;
}

.visible {
  display: flex;
  gap: 8px;
}

ul {
  padding: 0;
  width: 100%;
  max-height: 300px;
  overflow: auto;
  overflow-x: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  box-orient: vertical;
  display: -webkit-box;
  scrollbar-width: thin;
  scrollbar-color: rgba(165, 164, 164, 0.404) transparent;
  margin-top: 10px;
  gap: 10px;
}

li {
  padding: 15px 10px 15px 20px;
  margin-bottom: 5px;
}

.subtask-item {
  display: flex;
  align-items: center;
  height: 20px;
  position: relative;

  .subtask-circle {
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 50%;
    margin-right: 10px;
  }

  .subtask-actions {
    display: none;
    margin-left: auto;

    .edit-button,
    .remove-button {
      background: none;
      border: none;
      cursor: pointer;
      margin-left: 5px;
      margin-right: 5px;
      padding: 3px 6px 3px 6px;

      &:hover {
        padding: 3px 6px 3px 6px;
        border-radius: 20px;
        background-color: rgb(235, 234, 234);
      }
    }
  }

  &:hover .subtask-actions {
    display: flex;
  }
}

.subtask-item:hover {
  background-color: rgb(235, 234, 234);
  border-radius: 8px;
  transition: background-color 0.3s ease, border 0.3s ease;

  &.editing {
    background-color: rgb(255, 255, 255) !important;
    border-bottom: 1px solid blue;
    border-radius: 0px;
  }
}

.subtask-input-edit {
  padding: 5px 10px;
  width: 100%;
  font-size: 16px;
  border: none;
  outline: none;
  transition: border 125ms ease;
}

// save_edit_content
.save_edit_content {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  padding-top: 10px;

  .edit_box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #2a3647;
    border: none;
    border-radius: 7px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 7px 7px 7px 10px;
    transition: all 250ms ease-in-out;

    p {
      color: #fff;
    }

    &:hover {
      background-color: #29abe2;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.178);
    }
  }
}

input,
.prio_btns,
.members_content {
  margin-bottom: 6px;
}

@media (max-width: 375px) and (max-height: 667px) {
  section {
    .dialog_content {
      height: 95vh;
    }
  }
}

@media (max-width: 450px) {
  section .dialog_content {
    padding: 15px;
  }

  .prio_btns {
    gap: 5px;
  }

  .prio_btns button {
    padding: 5px;
    font-size: 16px;

    svg {
      width: 15px;
    }
  }

  .prio.selected.low {
    font-size: 16px;
  }

  .prio.selected.medium {
    font-size: 16px;
  }

  .prio.selected.urgent {
    font-size: 16px;
  }

  .dropdown_menu {
    max-height: 100px;
    padding: 0 14px;
  }

  .one_contact {
    padding: 0;
    height: 36px;

    .contact_info {
      gap: 8px;

      .avatar {
        height: 30px;
        width: 30px;
      }
    }
  }
}