:host {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 70px;
    background: #F6F7F8;
    position: relative;

    .div_top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;

        img {
            width: 100px;
            height: 122px;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 598px;
        height: 630px;
        border-radius: 30px;
        background: #FFFFFF;
        padding: 70px;
        gap: 10px;
        margin-top: -100px;
        position: relative;

        .arrow {
            position: absolute;
            left: 60px;
            top: 60px;

            &:hover {
                cursor: pointer;
                scale: 1.05;
            }
        }

        h1 {
            font-size: 61px;
            font-weight: 700;
        }

        span {
            width: 150px;
            height: 3px;
            background-color: #29ABE2;
            margin-bottom: 10px;
        }

        .name {
            display: flex;
            gap: 15px;
        }

        label {
            position: relative;
            width: 100%;

            input {
                width: 100%;
                height: 48px;
                border-radius: 10px;
                border: 1px solid #D1D1D1;
                font-size: 20px;
                padding-top: 5px;
                padding-left: 21px;
                padding-right: 40px;

                &:focus {
                    outline: none;
                    border: 1px solid #29ABE2;
                }
            }

            img {
                position: absolute;
                top: 14px;
                right: 20px;
            }

            .div_error {
                display: flex;
                justify-content: flex-start;
                height: 10px;
                margin: 10px 0 15px 0;

                .error {
                    display: none;
                    color: #E60026;
                    font-size: 15px;
                }
            }
        }

        .div_privacy {
            display: flex;
            gap: 5px;

            img {
                width: 20px;
                height: 23px;
                padding: 1px 2px;
                border-radius: 3px;
            }

            &:hover {
                cursor: pointer;
            }

            p {
                font-size: 16px;
                color: #A8A8A8;
            }

            a {
                font-size: 16px;
                color: #29ABE2;
            }
        }

        .div_signup {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 30px;

            .btn_signup {
                width: 120px;
                height: 48px;
                border-radius: 8px;
                background: #2A3647;
                color: white;
                border: none;
                font-size: 21px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 250ms ease-in-out;

                &:hover {
                    background: #29ABE2;
                    cursor: pointer;
                }
            }
        }
    }

    .div_bottom {
        display: flex;

        a {
            width: 150px;
            font-size: 16px;
            color: #A8A8A8;
            transition: all 250ms ease-in-out;
            text-align: center;

            &:hover {
                cursor: pointer;
                color: #29ABE2;
                font-weight: 700;
            }
        }
    }

    .success {
        position: absolute;
        width: 100%;
        height: 100%;
        display: none;
        justify-content: center;
        align-items: center;
        left: 0;
        top: 0;
        background: #f6f7f842;

        p {
            background: #2A3647;
            color: white;
            border-radius: 20px;
            padding: 20px 25px;
        }
    }
}

@media(max-width:1000px) {
    :host {
        height: unset;
        min-height: 100vh;
        justify-content: space-between;
        padding: 20px;

        .div_top {
            justify-content: flex-start;
            margin-top: 20px;
            width: 95%;

            img {
                width: 64px;
                height: 78px;
            }
        }

        .div_bottom {

            a {
                width: 120px;
            }
        }
    }
}

@media(max-width:700px) {
    :host {
        form {
            width: 100%;
            height: unset;
            padding: 25px 0;
            gap: 20px;
            margin-top: 50px;
            position: relative;

            .arrow {
                position: absolute;
                left: 20px;
                top: 45px;
            }

            h1 {
                font-size: 47px;
            }

            span {
                width: 88px;
                margin-top: -10px;
                margin-bottom: 0;
            }

            .name {
                flex-direction: column;
                width: 100%;
                align-items: center;
            }

            label {
                width: 95%;

                input {
                    width: 100%;
                    height: 40px;

                    font-size: 18px;
                }

                img {
                    top: 11px;
                    right: 15px;
                }
            }

            .div_privacy {
                flex-direction: row;
                margin-top: 20px;
            }

            .div_signup {
                .btn_signup {
                    width: 180px;
                    height: 51px;
                    font-size: 16px;
                }
            }

        }
    }
}