:host {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 70px;

    .div_top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;

        img {
            width: 100px;
            height: 122px;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 598px;
        height: 630px;
        border-radius: 30px;
        background: #FFFFFF;
        padding: 70px;
        gap: 10px;
        margin-top: -100px;
        position: relative;

        .arrow {
            position: absolute;
            left: 60px;
            top: 60px;
        }

        h1 {
            font-size: 61px;
            font-weight: 700;
        }

        span {
            width: 150px;
            height: 3px;
            background-color: #29ABE2;
            margin-bottom: 10px;
        }

        .name {
            display: flex;
            gap: 15px;
        }

        label {
            position: relative;
            width: 100%;

            input {
                width: 100%;
                height: 48px;
                border-radius: 10px;
                padding: 12px 21px;
                border: 1px solid #D1D1D1;
                font-size: 20px;

                &:focus {
                    outline: none;
                    border: 1px solid #29ABE2;
                }
            }

            img {
                position: absolute;
                top: 16px;
                right: 20px;
            }
        }

        .div_privacy {
            display: flex;
            gap: 5px;

            img {
                width: 17px;
            }

            &:hover {
                cursor: pointer;
            }

            p {
                font-size: 16px;
                color: #A8A8A8;
            }

            a {
                font-size: 16px;
                color: #29ABE2;
            }
        }

        .div_signup {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 30px;

            .btn_signup {
                width: 120px;
                height: 48px;
                border-radius: 8px;
                padding: 15px 24px;
                background: #2A3647;
                color: white;
                border: none;
                font-size: 21px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 250ms ease-in-out;

                &:hover {
                    background: #29ABE2;
                    cursor: pointer;
                }
            }
        }
    }

    .div_bottom {
        display: flex;

        a {
            width: 150px;
            font-size: 16px;
            color: #A8A8A8;
            transition: all 250ms ease-in-out;
            text-align: center;

            &:hover {
                cursor: pointer;
                color: #29ABE2;
                font-weight: 700;
            }
        }
    }
}