:host {
    width: calc(100vw - 232px);
    min-height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 4px 0px #0000001A;
    background-color: #ffffff;
    position: relative;

    .title {
        font-size: 20px;
        margin-left: 100px;
    }

    div {
        display: flex;
        align-items: center;
        margin-right: 30px;
        gap: 20px;

        .logo {
            display: none;
        }

        img {
            width: 20px;
            height: 20px;
            transition: all 0.3s ease-in-out;

            &:hover {
                scale: 1.1;
                cursor: pointer;
            }
        }

        .name {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 56px;
            height: 56px;
            border: 3px solid #2A3647;
            border-radius: 50%;
            transition: all 0.3s ease-in-out;

            p {
                color: #29ABE2;
                font-weight: 700;
                font-size: 16px;
                margin: 0;
                padding: 10px;
            }

            &:hover {
                cursor: pointer;
                background: #E1E6EC;

            }
        }
    }

    nav {
        position: absolute;
        width: 150px;
        height: 158px;
        border-radius: 20px 0 20px 20px;
        padding: 10px;
        right: 20px;
        top: 80px;
        background: #2A3647;
        color: white;

        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            list-style: none;
            width: 100%;
            height: 100%;
            gap: 10px;

            li {
                font-size: 16px;
                padding: 7px 10px;
                transition: all 250ms ease-in-out;

                &:hover {
                    cursor: pointer;
                    background: #091931;
                    border-radius: 5px;
                }
            }
        }
    }
}

.d_none {
    display: none;
}

@media(max-width:1000px) {
    :host {
        position: fixed;
        top: 0;
        width: 100%;
        min-height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 4px 4px 0px #0000001A;

        .title {
            display: none;
        }

        div {
            width: 95%;
            justify-content: space-between;
            align-items: center;
            margin-right: 0;

            .logo {
                display: flex;
                width: 32px;
                height: 39px;
            }

            img {
                display: none;
            }

            .name {
                width: 45px;
                height: 45px;
            }
        }

        nav {
            height: 200px;
            right: 10px;
            top: 65px;
        }
    }
    .d_none {
        display: flex;
    }
}