:host {
    width: calc(100vw - 232px);
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 4px 0px #0000001A;

    .title {
        font-size: 20px;
        margin-left: 100px;
    }

    div {
        display: flex;
        align-items: center;
        margin-right: 30px;
        gap: 20px;

        img {
            width: 20px;
            height: 20px;
            transition: all 0.3s ease-in-out;

            &:hover {
                scale: 1.1;
                cursor: pointer;
            }
        }

        p {
            color: #29ABE2;
            font-weight: 700;
            font-size: 16px;
            margin: 0;
            padding: 10px;
            border: 3px solid #2A3647;
            border-radius: 50%;
            transition: all 0.3s ease-in-out;

            &:hover {
                cursor: pointer;
                background: #E1E6EC;

            }
        }
    }
}