.board_wrapper {
  max-width: 1920px;
}

section {
  height: calc(100vh - 96px);
  background-color: #f6f7f8;
  max-width: 1920px;
}

.title {
  font-size: 50px;
  font-weight: 700;
}

.filter {
  display: flex;
  justify-content: space-between;
  position: absolute;
  display: flex;
  margin-left: 50px;
  gap: 20px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #29abe2;
  width: 100%;
  left: -50px;
  top: 55px;

  p {
    font-size: 16px;
    color: white;
  }

  .x {
    transition: all 250ms ease-in-out;

    &:hover {
      cursor: pointer;
      color: red;
    }
  }
}

.headline_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 200px;
  padding: 0 50px;
}

.headline_box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.add_btn_respo {
  display: none;
}

.find_task_content {
  display: flex;
  gap: 10px;
}

.search_container {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 7px;
  padding: 5px;
  background-color: #f8f8f8;
  width: 312px;
  height: 48px;
  transition: all 125ms ease-in-out;

  &:focus-within {
    border: 1px solid #29abe2;
    box-shadow: 0px 0px 5px rgba(42, 171, 226, 0.151);
  }

  .search_input {
    border: none;
    outline: none;
    background: transparent;
    flex: 1;
    padding: 5px;
    font-size: 20px;
  }

  .search_button {
    width: 32px;
    height: 32px;
    background: url('../../../../public/assets/icons/board/search.svg') no-repeat center;
    border: none;
    cursor: pointer;
    transition: all 250ms ease-in-out;

    &:hover {
      background-image: url('../../../../public/assets/icons/board/search-blue.svg');
    }
  }
}

.add_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #2a3647;
  border: none;
  border-radius: 7px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  width: 148px;
  transition: all 400ms ease;

  &:hover {
    background-color: #29abe2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.178);
  }

  img {
    width: 18px;
    height: 18px;
  }
}

.task_container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  max-height: calc(100vh - 296px);
  margin: 0 50px;
}

.title_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  color: #2a3647;
  font-size: 20px;
  margin-bottom: 14px;

  button {
    border: 2px solid #2a3647;
    border-radius: 8px;
    height: 25px;
    width: 25px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #2a3647;
    transition: all 400ms ease;

    &:hover {
      color: #29abe2;
      border: 2px solid #29abe2;
    }
  }

  h5 {
    color: #42526e;
    font-size: 20px;
  }
}

#todo,
#inProgress,
#awaitFeedback,
#done {
  display: flex;
  flex-direction: column;
  min-height: 400px;
}

#toDoSection,
#inProgressSection,
#awaitFeedbackSection {
  scroll-margin-top: 100px;
  /* Passe den Wert an die Höhe deines Headers an */
}

#boardUpstairs {
  scroll-margin-top: 300px;
}

.no_tasks_card {
  width: 100%;
  height: 48px;
  background-color: #e7e7e7;
  border: 1px dashed #a8a8a8;
  color: #a8a8a8;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_box {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.box {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  margin-bottom: 10px;
  padding-right: 10px;
}

.frame {
  display: flex;
  flex-direction: column;
  // min-width: 250px;
  max-width: 250px;
  background: rgb(255, 255, 255);
  border-radius: 24px;
  padding: 16px;
  gap: 15px;

  &:hover {
    cursor: pointer;
  }

  &.cdk-drag-preview {
    rotate: 5deg;
  }
}

@media (max-width: 1370px) {

  section {
    width: calc(100vw - 232px);
    overflow-y: auto;
    padding-bottom: 50px;
  }

  .frame {
    min-width: 250px;
  }

  .main_box {
    width: 100%;
  }

  .box {
    flex-direction: row;
    overflow-x: auto;
    width: 100%;
    padding-bottom: 20px;
  }

  .task_container {
    flex-direction: column;
    max-height: unset;
    margin: 0 50px;
  }

  .title_content {
    margin-top: 20px;
  }
}

@media (max-width: 1000px) {
  section {
    height: calc(100vh - 160px);
    width: 100vw;
  }
}

@media (max-width: 750px) {
  .task_container {
    margin: 0 10px;
  }

  .headline_content {
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
  }

  .add_btn {
    display: none;
  }

  .search_container {
    width: 100%;

    .search_input {
      font-size: 16px;
    }
  }

  .find_task_content {
    width: 100%;
    padding-top: 20px;
  }

  .title {
    font-size: 45px;
  }

  .add_btn_respo {
    display: flex;
    background: #2a3647;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    transition: all 250ms ease-in-out;

    &:hover {
      cursor: pointer;
      background: #29abe2;
    }
  }
}

.add_task1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #00000062;
  z-index: 1;

  .add_task2 {
    position: relative;
    padding: 5px;
    border-radius: 10px;
    background: #f5f6f7;

    .close_btn {
      img {
        padding: 1px;
        cursor: pointer;
        position: absolute;
        right: 30px;
        top: 30px;
      }

      img:hover {
        background-color: #00000013;
        border-radius: 50%;
      }
    }
  }
}

@media (max-width: 600px) {
  .add_task1 {

    .add_task2 {
      width: 95%;
    }
  }
}