<section>
  <div id="board">
    <div class="headline_content" id="boardUpstairs">
      <div class="headline_box">
        <h2 class="title">Board</h2>
        <button class="add_btn_respo">
          <img src="./assets/icons/board/add.svg" alt="add" />
        </button>
      </div>

      <div class="find_task_content">
        <div class="search_container">
          <input type="text" placeholder="Find Task" class="search_input" (input)="filterTasks()" />
          <img src="./assets/icons/board/Vector 3.svg" alt="" />
          <button class="search_button">
            <img src="./assets/icons/board/search.svg" alt="search" />
          </button>
        </div>

        <button class="add_btn">
          Add task <img src="./assets/icons/board/add.svg" alt="add" />
        </button>
      </div>
    </div>

    <div class="task_container">
      <!-- To do -->
      <div class="main_box">
        <div class="title_content">
          <h5 id="toDoSection">To do</h5>
          <button class="plus_btn">+</button>
        </div>

        <div
          id="todoList"
          class="box"
          cdkDropList
          #toDoListRef="cdkDropList"
          [cdkDropListData]="boardService.toDoList"
          [cdkDropListConnectedTo]="[inProgressListRef, awaitFeedbackListRef, doneListRef]"
          (cdkDropListDropped)="drop($event)"
        >
          @if (boardService.toDoList.length > 0) { @for (item of boardService.toDoList; track
          $index) {
          <app-card-task
            [task]="item"
            class="frame"
            cdkDrag
            (click)="openTaskDetail(item)"
          ></app-card-task>
          } } @else {
          <div class="no_tasks_card">
            <p>No tasks in To do</p>
          </div>
          }
        </div>
      </div>

      <!-- In progress -->
      <div class="main_box">
        <div class="title_content">
          <h5 id="inProgressSection">In progress</h5>
          <button class="plus_btn">+</button>
        </div>

        <div
          id="inProgressList"
          class="box"
          cdkDropList
          #inProgressListRef="cdkDropList"
          [cdkDropListData]="boardService.inProgressList"
          [cdkDropListConnectedTo]="[toDoListRef, awaitFeedbackListRef, doneListRef]"
          (cdkDropListDropped)="drop($event)"
        >
          @if (boardService.inProgressList.length > 0) { @for (item of boardService.inProgressList;
          track $index) {
          <app-card-task
            [task]="item"
            class="frame"
            cdkDrag
            (click)="openTaskDetail(item)"
          ></app-card-task>
          } } @else {
          <div class="no_tasks_card">
            <p>No tasks in progress</p>
          </div>
          }
        </div>
      </div>

      <!-- Await feedback -->
      <div class="main_box">
        <div class="title_content">
          <h5 id="awaitFeedbackSection">Await feedback</h5>
          <button class="plus_btn">+</button>
        </div>

        <div
          id="awaitFeedbackList"
          class="box"
          cdkDropList
          #awaitFeedbackListRef="cdkDropList"
          [cdkDropListData]="boardService.awaitFeedbackList"
          [cdkDropListConnectedTo]="[toDoListRef, inProgressListRef, doneListRef]"
          (cdkDropListDropped)="drop($event)"
        >
          @if (boardService.awaitFeedbackList.length > 0) { @for (item of
          boardService.awaitFeedbackList; track $index) {
          <app-card-task
            [task]="item"
            class="frame"
            cdkDrag
            (click)="openTaskDetail(item)"
          ></app-card-task>
          } } @else {
          <div class="no_tasks_card">
            <p>No tasks in Await feedback</p>
          </div>
          }
        </div>
      </div>

      <!-- Done -->
      <div class="main_box">
        <div class="title_content">
          <h5 id="doneSection">Done</h5>
          <button class="plus_btn">+</button>
        </div>

        <div
          id="DoneList"
          class="box"
          cdkDropList
          #doneListRef="cdkDropList"
          [cdkDropListData]="boardService.doneList"
          [cdkDropListConnectedTo]="[toDoListRef, inProgressListRef, awaitFeedbackListRef]"
          (cdkDropListDropped)="drop($event)"
        >
          @if (boardService.doneList.length > 0) { @for (item of boardService.doneList; track
          $index) {
          <app-card-task
            [task]="item"
            class="frame"
            cdkDrag
            (click)="openTaskDetail(item)"
          ></app-card-task>
          } } @else {
          <div class="no_tasks_card">
            <p>No tasks in Done</p>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</section>

<app-card-details></app-card-details>
<div class="add_task1" [ngStyle]="{ display: addTaskShow ? 'flex' : 'none' }">
  <div class="add_task2">
    <div class="close_btn" (click)="addTaskShow=false">
      <img src="./assets/icons/contact/close.svg" alt="close" />
    </div>
    <app-add-task></app-add-task>
    <!-- <app-add-task [taskPriority]="taskPriority"></app-add-task> -->
  </div>
</div>