<section>
  <div class="headline_content" id="boardUpstairs">
    <div class="headline_box">
      <h2 class="title">Board</h2>
      <button class="add_btn_respo">
        <img src="./assets/icons/board/add.svg" alt="add" />
      </button>
    </div>
    <div class="find_task_content">
      <div class="search_container">
        <input type="text" placeholder="Find Task" class="search_input" />
        <img src="./assets/icons/board/Vector 3.svg" alt="" />
        <button class="search_button">
          <img src="./assets/icons/board/search.svg" alt="seach" />
        </button>
      </div>
      <button class="add_btn">Add task <img src="./assets/icons/board/add.svg" alt="add" /></button>
    </div>
  </div>
  <!--#endregion-->

  <!--#region-board-columns-->
  <div class="task_container">

    <!-- To do -->
    <div class="main_box">
      <div class="title_content">
        <h5 id="toDoSection">To do</h5>
        <button class="plus_btn">+</button>
      </div>

      <div class="box" cdkDropList #toDoListRef="cdkDropList" [cdkDropListData]="boardService.toDoList"
        [cdkDropListConnectedTo]="[inProgressListRef, awaitFeedbackListRef, doneListRef]"
        (cdkDropListDropped)="drop($event)">

        @if (boardService.toDoList) {
        @for (item of boardService.toDoList; track $index) {
        <div class="frame" cdkDrag>
          <p [ngStyle]="{'background' : item.taskCategory === 'Technical Task' ? '#1FD7C1' : ''}" class="frame_category">
            {{item.taskCategory}}</p>
          <p class="frame_title">{{item.title}}</p>
          <p class="frame_description">{{item.description}}</p>
          <!-- <p class="frame_subtasks">{{item.subtasks}}</p>
          <div class="priority_assignedTo">

            @for (user of item.assignedTo; track $index) {
            <p class="name_icon" [style.background-color]="contactService.getColorForContact(user)">{{
              contactService.getInitials(user.firstname, user.lastname) }}</p>
            }
            <img [src]="item.priority === 'Urgent' ? './assets/icons/board/Prio alta.svg' :
         item.priority === 'Medium' ? './assets/icons/board/Prio media.svg' :
         './assets/icons/board/Prio baja.svg'" [alt]="item.priority" class="frame_priority">
          </div> -->
        </div>
        }
        } @else {
        <div class="no_tasks_card">
          <p>No tasks in progress</p>
        </div>
        }
      </div>


    </div>

    <!-- In progress -->
    <div class="main_box">
      <div class="title_content">
        <h5 id="inProgressSection">In progress</h5>
        <button class="plus_btn">+</button>
      </div>

      <div class="box" cdkDropList #inProgressListRef="cdkDropList" [cdkDropListData]="boardService.inProgressList"
        [cdkDropListConnectedTo]="[toDoListRef, awaitFeedbackListRef, doneListRef]" (cdkDropListDropped)="drop($event)">

        @if (boardService.inProgressList.length > 0) {
        @for (item of boardService.inProgressList; track $index) {
        <div class="frame" cdkDrag>
          <p [ngStyle]="{'background' : item.taskCategory === 'Technical Task' ? '#1FD7C1' : ''}" class="frame_category">
            {{item.taskCategory}}</p>
          <p class="frame_title">{{item.title}}</p>
          <p class="frame_description">{{item.description}}</p>
          <!-- <p class="frame_subtasks">{{item.subtasks}}</p>
          <div class="priority_assignedTo">

            @for (user of item.assignedTo; track $index) {
            <p class="name_icon" [style.background-color]="contactService.getColorForContact(user)">{{
              contactService.getInitials(user.firstname, user.lastname) }}</p>
            }
            <img [src]="item.priority === 'Urgent' ? './assets/icons/board/Prio alta.svg' :
         item.priority === 'Medium' ? './assets/icons/board/Prio media.svg' :
         './assets/icons/board/Prio baja.svg'" [alt]="item.priority" class="frame_priority">
          </div> -->
        </div> }
        } @else {
        <div class="no_tasks_card">
          <p>No tasks in progress</p>
        </div>
        }
      </div>


    </div>

    <!-- Await feedback -->
    <div class="main_box">
      <div class="title_content">
        <h5 id="awaitFeedbackSection">Await feedback</h5>
        <button class="plus_btn">+</button>
      </div>

      <div class="box" cdkDropList #awaitFeedbackListRef="cdkDropList" [cdkDropListData]="boardService.awaitFeedbackList"
        [cdkDropListConnectedTo]="[toDoListRef, inProgressListRef, doneListRef]" (cdkDropListDropped)="drop($event)">

        @if (boardService.awaitFeedbackList.length > 0) {
        @for (item of boardService.awaitFeedbackList; track $index) {
        <div class="frame" cdkDrag>
          <p [ngStyle]="{'background' : item.taskCategory === 'Technical Task' ? '#1FD7C1' : ''}" class="frame_category">
            {{item.taskCategory}}</p>
          <p class="frame_title">{{item.title}}</p>
          <p class="frame_description">{{item.description}}</p>
          <!-- <p class="frame_subtasks">{{item.subtasks}}</p>
          <div class="priority_assignedTo">

            @for (user of item.assignedTo; track $index) {
            <p class="name_icon" [style.background-color]="contactService.getColorForContact(user)">{{
              contactService.getInitials(user.firstname, user.lastname) }}</p>
            }
            <img [src]="item.priority === 'Urgent' ? './assets/icons/board/Prio alta.svg' :
         item.priority === 'Medium' ? './assets/icons/board/Prio media.svg' :
         './assets/icons/board/Prio baja.svg'" [alt]="item.priority" class="frame_priority">
          </div> -->
        </div> }
        } @else {
        <div class="no_tasks_card">
          <p>No tasks in progress</p>
        </div>
        }
      </div>


    </div>


    <!-- Done -->
    <div class="main_box">
      <div class="title_content">
        <h5 id="doneSection">Done</h5>
        <button class="plus_btn">+</button>
      </div>

      <div class="box" cdkDropList #doneListRef="cdkDropList" [cdkDropListData]="boardService.doneList"
        [cdkDropListConnectedTo]="[toDoListRef, inProgressListRef, awaitFeedbackListRef]"
        (cdkDropListDropped)="drop($event)">

        @if (boardService.doneList.length > 0) {
        @for (item of boardService.doneList; track $index) {
        <div class="frame" cdkDrag>
          <p [ngStyle]="{'background' : item.taskCategory === 'Technical Task' ? '#1FD7C1' : ''}" class="frame_category">
            {{item.taskCategory}}</p>
          <p class="frame_title">{{item.title}}</p>
          <p class="frame_description">{{item.description}}</p>
          <!-- <p class="frame_subtasks">{{item.subtasks}}</p>
          <div class="priority_assignedTo">

            @for (user of item.assignedTo; track $index) {
            <p class="name_icon" [style.background-color]="contactService.getColorForContact(user)">{{
              contactService.getInitials(user.firstname, user.lastname) }}</p>
            }
            <img [src]="item.priority === 'Urgent' ? './assets/icons/board/Prio alta.svg' :
         item.priority === 'Medium' ? './assets/icons/board/Prio media.svg' :
         './assets/icons/board/Prio baja.svg'" [alt]="item.priority" class="frame_priority">
          </div> -->
        </div> }
        } @else {
        <div class="no_tasks_card">
          <p>No tasks in progress</p>
        </div>
        }
      </div>


    </div>
  </div>
</section>