:host {
  margin: 50px;
  // width: 100%;

  .back_btn {
    display: none;
    position: absolute;
    top: 80px;
    right: 20px;
    border: none;
    border-radius: 100px;
    background: none;
    cursor: pointer;

    &:active {
      scale: 1.2;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }
  }

  .title {
    display: flex;
    align-items: center;

    h2 {
      font-size: 61px;
      padding-right: 20px;
      border-right: 3px solid #007cee;
    }

    p {
      font-size: 27px;
      margin-left: 20px;
    }
  }

  .edit_res {
    position: absolute;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    bottom: 100px;
    right: 0;
    width: 116px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 20px 0 0 20px;
    gap: 20px;

    a {
      display: flex;
      gap: 10px;
      color: #2a3647;
      margin-left: 20px;
      font-size: 16px;
      transition: all 250ms ease-in-out;

      &:hover {
        color: #007cee;
        cursor: pointer;
      }
    }
  }

  .arrow {
    display: none;
    width: 25px;
    height: 24px;
    position: absolute;
    top: 140px;
    right: 20px;
    transition: all 250ms ease-in-out;

    &:hover {
      cursor: pointer;
      scale: 1.1;
    }
  }

  .menu_btn {
    display: none;
    position: absolute;
    bottom: 100px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: #2a3647;
    border-radius: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 250ms ease-in-out;

    &:hover {
      cursor: pointer;
      background: #29abe2;
    }

    span {
      width: 6px;
      height: 6px;
      background: white;
      border-radius: 50%;
    }
  }

  .contact {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 30px;

    .info_title {
      display: flex;
      flex-direction: column;

      h3 {
        max-width: 380px;
        font-weight: 500;
        font-size: 47px;
        // white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .edit_delete {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-top: 10px;

        a {
          display: flex;
          align-items: center;
          gap: 10px;
          transition: all 100ms ease-in-out;

          &:hover {
            cursor: pointer;
            color: #29abe2;

            .icon_edit {
              transition: all 250ms ease-in-out;
              cursor: pointer;
              content: url('../../../../../public/assets/icons/contact/edit_hover.svg');
            }

            .icon_delete {
              transition: all 200ms ease-in-out;
              cursor: pointer;
              content: url('../../../../../public/assets/icons/contact/delete_hover.svg');
            }
          }
        }
      }
    }

    .short_name {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 120px;
      min-height: 120px;
      background-color: #ff7a00;
      border: 3px solid #ffffff;
      outline: 1px solid #e7e7e7;
      border-radius: 50%;
      font-size: 47px;
      color: white;
      font-weight: 500;

      p {
        color: #ffffff;
        font-size: 47px;
      }
    }
  }

  h4 {
    font-weight: 400;
    font-size: 20px;
    padding: 40px 0;
  }

  .email {
    display: block;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    color: #007cee;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      text-decoration: underline;
    }
  }

  h5 {
    font-size: 16px;
    padding: 15px 0;
  }

  .phone {
    display: block;
    font-size: 16px;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 1332px) {
  :host {

    margin: 30px;

    .title {
      flex-direction: column;
      align-items: flex-start;

      h2 {
        font-size: 47px;
        padding-right: 0;
        border-right: unset;
      }

      p {
        margin-top: 15px;
        font-size: 20px;
        margin-left: 0;
        border-bottom: 3px solid #29abe2;
        padding-bottom: 15px;
      }
    }

    .contact {
      gap: 20px;
      margin-top: 40px;

      .info_title {
        h3 {
          font-weight: 700;
          font-size: 36px;
        }

        .edit_delete {
          display: flex;
        }
      }

      .short_name {
        min-width: 80px;
        min-height: 80px;
        font-size: 27px;

        p {
          color: #ffffff;
          font-size: 47px;
        }
      }
    }

    h4 {
      padding: 30px 0;
    }
  }
}

@media (max-width: 800px) {
  :host {
    display: none;
  }
}

// @media (max-width: 1000px) {
//   margin: 15px;

//   .title {
//     h2 {
//       font-size: 32px;
//     }

//     p {
//       font-size: 16px;
//       padding-bottom: 10px;
//     }
//   }

//   .contact {
//     gap: 10px;
//     margin-top: 20px;

//     .info_title {
//       h3 {
//         font-size: 24px;
//       }
//     }

//     .short_name {
//       min-width: 60px;
//       min-height: 60px;
//       font-size: 18px;

//       p {
//         font-size: 24px;
//       }
//     }
//   }

//   h4 {
//     padding: 15px 0;
//     font-size: 16px;
//   }
// }

// @media (max-width: 700px) {
//   margin: 5px;

//   .title {
//     flex-direction: column;
//     align-items: flex-start;

//     h2 {
//       font-size: 22px;
//     }

//     p {
//       font-size: 12px;
//       padding-bottom: 5px;
//     }
//   }

//   .contact {
//     flex-direction: column;
//     align-items: flex-start;
//     gap: 10px;
//     margin-top: 10px;

//     .info_title {
//       h3 {
//         font-size: 16px;
//       }

//       .edit_delete {
//         gap: 10px;
//       }
//     }

//     .short_name {
//       min-width: 40px;
//       min-height: 40px;
//       font-size: 12px;

//       p {
//         font-size: 14px;
//       }
//     }
//   }

//   h4 {
//     padding: 10px 0;
//     font-size: 12px;
//   }
// }

// @media (max-width: 480px) {
//   z-index: 20;
//   width: 100vw;
//   margin: 15px;

//   .back_btn {
//     display: block;
//   }

//   .contact {
//     .info_title {
//       .edit_delete {
//         display: none;
//       }
//     }
//   }

//   .title {
//     h2 {
//       font-size: 32px;
//     }

//     p {
//       font-size: 16px;
//       padding-bottom: 10px;
//     }
//   }

//   .contact {
//     gap: 10px;
//     margin-top: 20px;

//     .info_title {
//       h3 {
//         font-size: 24px;
//       }
//     }

//     .short_name {
//       min-width: 60px;
//       min-height: 60px;
//       font-size: 18px;

//       p {
//         font-size: 24px;
//       }
//     }
//   }

//   h4 {
//     padding: 15px 0;
//     font-size: 16px;
//   }

//   .menu_btn {
//     display: flex;
//   }
// }