<div [ngStyle]="{'display' : success ? 'none' : 'flex' }" class="title">
    <div>
        <img class="close_w" (click)="close()" src="./assets/icons/contact/close-w.svg" alt="close">
        <img src="./assets/img/logo1.svg">
        <h2>Add contact</h2>
        <h3><span>Tasks are</span> better with a team!</h3>
    </div>
</div>
<div class="detail" [ngStyle]="{'display' : success ? 'none' : 'flex' }">
    <div class="left">
        <img src="./assets/icons/contact/person-add.svg">
    </div>
    <div class="right">
        <div class="close">
            <div>
                <img (click)="close()" src="./assets/icons/contact/close.svg" alt="close">
            </div>
        </div>
        <form (ngSubmit)="addForm.valid && addUser()" #addForm="ngForm">
            <div class="div_name">
                <div>
                    <input ngModel #fisrtName="ngModel" [(ngModel)]="user.firstname"
                        [ngClass]="{'error': fisrtName.invalid && fisrtName.touched}" name="fisrtName" type="text"
                        minlength="3"
                        [placeholder]="fisrtName.invalid && fisrtName.touched ? 'Enter firstname' : 'Firstname'"
                        required>
                </div>
                <div>
                    <img src="./assets/icons/contact/person.svg" class="icon_name" alt="icon name">
                    <input ngModel #lastName="ngModel" [(ngModel)]="user.lastname"
                        [ngClass]="{'error': lastName.invalid && lastName.touched}" name="lastName" type="text"
                        minlength="3"
                        [placeholder]="lastName.invalid && lastName.touched ? 'Enter lastname' : 'Lastname'" required>
                </div>
            </div>
            <div>
                <img src="./assets/icons/contact/mail.svg" class="icon_email" alt="icon email">
                <input ngModel #email="ngModel" [(ngModel)]="user.email"
                    [ngClass]="{'error': email.invalid && email.touched}" name="email" type="text" placeholder="Email"
                    [placeholder]="email.invalid && email.touched ? 'Enter your email address' : 'Email'"
                    pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" required>
            </div>
            <div>
                <img src="./assets/icons/contact/call.svg" class="icon_phone" alt="icon phone">
                <input ngModel #phone="ngModel" [(ngModel)]="user.phone"
                    [ngClass]="{'error': phone.invalid && phone.touched}" name="phone" type="tel" minlength="5"
                    [placeholder]="phone.invalid && phone.touched ? 'Enter your phone number' : 'Phone'"
                    placeholder="Phone" required>
            </div>
            <div class="button">
                <button class="cancel" type="button" (click)="close()">Cancel<img src="./assets/icons/contact/close.svg"
                        alt="close"></button>
                <button type="submit" name="submit" class="create" [disabled]="!addForm.valid">Create contact<img
                        src="./assets/icons/contact/check.svg" alt="icon check"></button>
            </div>
        </form>
    </div>
</div>
<p data-aos="fade-left" class="success" [ngStyle]="{'display' : !success ? 'none' : 'flex' }">Contact succesfully created </p>