:host {
    min-width: 232px;
    height: 100vh;
    position: sticky;
    background-color: #2a3647;
    display: flex;
    flex-direction: column;
    align-items: center;

    .active-link {
        background-color: #091931;
    }

    img {
        width: 100px;
        height: 122px;
        margin: 65px 0;
    }

    nav {
        display: flex;
        justify-content: center;
        width: 100%;
        flex: 1;

        ul {
            list-style: none;
            padding-left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            gap: 10px;

            li {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 25px;
                font-size: 16px;
                font-weight: 400;
                color: #ffffff;
                padding: 22px 0;
                gap: 10px;
                width: 100%;
                transition: all 0.3s ease-in-out;

                &:hover {
                    background-color: #2A3D59;
                    cursor: pointer;
                }

                img {
                    width: 25px;
                    height: 25px;
                }

                p {
                    width: 80px;
                }
            }
        }
    }

    div {
        display: flex;
        flex-direction: column;
        margin-bottom: 64px;

        a {
            font-size: 16px;
            color: #CDCDCD;
            padding: 8px 0;
            transition: all 0.3s ease-in-out;

            &:hover {
                scale: 1.03;
                cursor: pointer;
                color: lightblue;
            }
        }
    }
}

@media(max-width:1000px) {
    :host {
        width: 100%;
        height: 80px;
        min-height: 80px;
        position: sticky;

        img {
            display: none;
            margin: 0;
        }

        nav {

            ul {
                flex-direction: row;
                justify-content: space-evenly;
                gap: 0;

                li {
                    flex-direction: column;
                    height: 80px;
                    border-radius: 16px;
                    width: 80px;
                    height: 76px;

                    img {
                        width: 25px;
                        height: 25px;
                        display: flex;
                    }

                    p {
                        text-align: center;
                    }
                }
            }
        }

        div {
            display: none;
        }
    }
}