<p [ngStyle]="{'background' : task.taskCategory === 'Technical Task' ? '#1FD7C1' : ''}" class="frame_category">
  {{task.taskCategory}}</p>
<p class="frame_title">{{task.title}}</p>
<p class="frame_description">{{task.description}}</p>


<div class="frame_subtasks">
  <span>{{ taskcompleted }}/{{ task.subTasks.length }} Subtasks</span>
  <progress max="{{ task.subTasks.length }}" [value]="taskcompleted" class="native-progress"></progress>
</div>


<div class="priority_assignedTo">

  @for (contactId of task.assignedTo; track contactId; let i = $index) {
  @if (i < 4) { @let contact=getContactDetailsById(contactId); @if (contact) { <div class="short_name">
    <span class="assigned_dropdown_avatar" [style.background-color]="contact.color">
      {{ contact.initials }}
    </span>
</div>
}
}
}

@if (task.assignedTo.length > 4) {
<div class="more_count">
  + {{ task.assignedTo.length - 4 }}
</div>
}

<img [src]="task.priority === 'urgent' ? './assets/icons/board/Prio alta.svg' :
         task.priority === 'medium' ? './assets/icons/board/Prio media.svg' :
         './assets/icons/board/Prio baja.svg'" [alt]="task.priority" class="frame_priority">
</div>