.frame_category {
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 16px;
    background: #0038FF;
    color: #FFFFFF;
}

.frame_title {
    font-size: 16px;
    font-weight: 700;
    color: #2A3647;
}

.frame_description {
    font-size: 16px;
    font-weight: 400;
    color: #A8A8A8;
}

.frame_subtasks {}

.priority_assignedTo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .name_icon {
        min-height: 42px;
        min-width: 42px;
        border-radius: 100px;
        background-color: #007CEE;
        outline: 2px solid white;
        text-align: center;
        line-height: 42px;
        color: white;
    }
}

.frame_assignedTo {}

.frame_priority {}