<section *ngIf="!editPageShow" class="section_details" [ngStyle]="{ display: !editPageShow ? 'flex' : 'none' }">
  <div class="dialog_content">
    <div class="headline">
      <p class="category" [ngStyle]="{
          background: this.task.taskCategory === 'Technical Task' ? '#1FD7C1' : '#0038FF'
        }">
        {{ this.task.taskCategory }}
      </p>

      <div class="close_btn" (click)="closeTaskDetail()">
        <img src="./assets/icons/contact/close.svg" alt="close" />
      </div>
    </div>

    <h1 class="title_content">{{ this.task.title }}</h1>
    <h4>{{ this.task.description }}</h4>

    <div class="date_prio_content">
      <!-- <p class="title2">Due date:<span [ngStyle]="{'margin-left' : '9px'}">{{this.task.dueDate}}</span></p> -->
      <p class="title2">
        Due date:<span [ngStyle]="{ 'margin-left': '9px' }">{{ this.task.dueDate }}</span>
      </p>
    </div>
    <div class="date_prio_content">
      <p class="title2">
        Priority: <span [ngStyle]="{ 'margin-left': '25px' }">{{ this.task.priority }}</span>
        <img [src]="
            this.task.priority === 'urgent'
              ? './assets/icons/board/Prio alta.svg'
              : this.task.priority === 'medium'
              ? './assets/icons/board/Prio media.svg'
              : './assets/icons/board/Prio baja.svg'
          " alt="" />
      </p>
    </div>

    <div class="assigned_content">
      <p class="title2">Assigned To:</p>
      <div class="members_content">
        <div class="assigned_to">
          @for (contactId of task.assignedTo; track contactId) {
          @let contact = getContactDetailsById(contactId);
          @if (contact) {
          <div class="person_box">
            <div class="assigned_dropdown_avatar" [style.background-color]="contact.color">
              <p>{{ contact.initials }}</p>
            </div>
            <p>{{ contact.firstname + ' ' + contact.lastname}}</p>
          </div>
          }}
        </div>
      </div>
    </div>

    <div class="subtasks_content">
      <p class="title2">Subtasks</p>

      @for (subTask of task.subTasks; track $index) {
      <div class="show_subtask">
        <label class="checkbox_content">
          <input type="checkbox" [checked]="subTask.completed" (change)="toggleSubTask(task,$index)" />

          <img class="checked" *ngIf="subTask.completed" src="./assets/icons/board/checkbox-checked.svg" />

          <img class="unchecked" *ngIf="!subTask.completed" src="./assets/icons/board/checkbox-unchecked.svg" />

          <p>{{ subTask.title }}</p>
        </label>
      </div>
      
    </div>

    <div class="delete_edit_content">
      <p (click)="boardService.deleteTaskFromFirebase(this.task); closeTaskDetail()" class="delete_box">
        <img src="./assets/icons/board/delete.svg" alt="delete" /> Delete
      </p>
      <p (click)="editPageShow = true" class="edit_box">
        <img src="./assets/icons/board/edit.svg" alt="edit" /> Edit
      </p>
    </div>
  </div>
</section>

<section *ngIf="editPageShow" class="section_edit" [ngStyle]="{ display: editPageShow ? 'flex' : 'none' }">
  <div class="close_btn" (click)="editPageShow = false">
    <img src="./assets/icons/contact/close.svg" alt="close" />
  </div>
  <app-edit-dialog [item]="task" (closeDialogEvent)="editPageShow = false" (saveChangesEvent)="onTaskSaved($event)">
  </app-edit-dialog>
</section>