<div class="add_task_wrapper">
  <div class="div_main">
    <h1>Add Task</h1>

    @if (confirmationMessage) {
    <div class="add_task_confirmation_overlay">
      <div class="add_task_confirmation">
        <p>{{ confirmationMessage }}</p><img src="./assets/icons/board/board_icon.svg" alt="Success">
      </div>
    </div>
    }
    @if (errorMessage) {
    <div class="add_task_error">
      {{ errorMessage }}
    </div>
    }
    <div class="add_task_container">
      <div class="add_task_form">
        <label>
          Title <span>*</span>
          <input type="text" [(ngModel)]="newTask.title" placeholder="Enter a title" required />
          @if (formSubmitted && !newTask.title) {
          <span class="add_task_error_field">This field is required</span>
          }
        </label>
        <label>
          Description
          <textarea [(ngModel)]="newTask.description" placeholder="Enter a description"></textarea>
        </label>
        <label class="date_input">
          Due date <span>*</span>
          <input type="date" [(ngModel)]="newTask.dueDate" placeholder="dd/mm/yyyy" required />
          @if (formSubmitted && !newTask.dueDate) {
          <span class="add_task_error_field">This field is required</span>
          }
        </label>
      </div>

      <div class="separator"></div>

      <div class="add_task_form">
        <label>
          Priority
        </label>
        <div class="add_task_priority">
          <button class="priority_btn urgent" (click)="newTask.priority='urgent'"
            [ngClass]="{'active': newTask.priority === 'urgent'}">Urgent <img src="./assets/icons/board/arrow_up.svg"
              alt="Urgent"></button>
          <button class="priority_btn medium" (click)="newTask.priority='medium'"
            [ngClass]="{'active': newTask.priority === 'medium'}">Medium <img
              src="./assets/icons/board/arrow_straight.svg" alt="Medium"></button>
          <button class="priority_btn low" (click)="newTask.priority='low'"
            [ngClass]="{'active': newTask.priority === 'low'}">Low <img src="./assets/icons/board/arrow_down.svg"
              alt="Low"></button>
        </div>


        <div class="assigned_dropdown" [ngClass]="getAssignedDropdownClass()">
          <label for="assigned_dropdown_input" class="assigned_dropdown_label">Assigned to</label>
          <div class="assigned_dropdown_input_wrapper" (click)="toggleDropdown($event)">
            <input id="assigned_dropdown_input" type="text" class="assigned_dropdown_input"
              placeholder="Select contacts to assign" [(ngModel)]="search" autocomplete="off" />
            <span class="assigned_dropdown_arrow">&#9662;</span>

            @if (selected.length > 0) {
            <div class="assigned_selected_avatars">
              @for (contact of selected; track contact.id) {
              @if (selected.indexOf(contact) < 4) { <span class="assigned_dropdown_avatar assigned_selected_avatar"
                [style.background-color]="contact.color">
                {{ contact.initials }}
                </span>
                }
                }
                @if (selected.length > 4) {
                <div class="more_count">+ {{ selected.length - 4 }}</div>
                }
            </div>
            }
          </div>

          @if (open) {
          <ul class="assigned_dropdown_list" (click)="$event.stopPropagation()">
            @if (contactList.length === 0) {
            <li class="assigned_dropdown_item">No contacts available.</li>
            }
            @for (singleContact of contactList; track singleContact.id) {
            <li class="assigned_dropdown_item" [ngClass]="getDropdownItemClass(singleContact)"
              (click)="toggleSelect(singleContact)">
              <span class="assigned_dropdown_avatar" [style.background-color]="singleContact.color">
                {{ singleContact.initials }}
              </span>
              <span class="assigned_dropdown_name">
                {{ singleContact.firstname }} {{ singleContact.lastname }}
                @if (singleContact.isYou) {
                <span class="you">(You)</span>
                }
              </span>
              <input type="checkbox" [checked]="isContactSelected(singleContact)" class="assigned_dropdown_checkbox" />
            </li>
            }
          </ul>
          }
          <div>
          </div>
        </div>

        <div class="assigned_dropdown" [ngClass]="getCategoryDropdownClass()">
          <label for="assigned_dropdown_input" class="assigned_dropdown_label">Category <span>*</span></label>
          <div class="assigned_dropdown_input_wrapper" (click)="toggleCategoryDropdown($event)">
            <input id="category_dropdown_input" type="text" class="assigned_dropdown_input"
              placeholder="Select task category" [(ngModel)]="newTask.taskCategory" autocomplete="off" />
            <span class="assigned_dropdown_arrow">&#9662;</span>
          </div>
          @if (categoryDropdownOpen) {
          <ul class="assigned_dropdown_list" (click)="$event.stopPropagation()">
            @for (option of categoryOptions; track option) {
            <li class="assigned_dropdown_item" (click)="selectCategory(option)">
              {{ option }}
            </li>
            }
          </ul>
          }
          @if (formSubmitted && !newTask.taskCategory) {
          <span class="add_task_error_field">This field is required</span>
          }

        </div>

        <label class="subtasks_input">
          Subtask
        </label>
        <div class="subtask_row" [class.has_input]="hasSubtaskInput()">
          <input type="text" class="subtask_input_field" placeholder="Add new subtask" [(ngModel)]="subtaskInput" />
          <button class="subtask_btn_check" (click)="addSubtask()"
            [title]="subtaskEditIndex !== null ? 'Save' : 'Add'"><img src="./assets/icons/board/check-black.svg"
              alt="Check"></button>
          <div class="small_separator"></div>
          <button class="subtask_btn_clear" (click)="clearSubtaskInput()" title="Clear"><img
              src="./assets/icons/board/close-black.svg" alt="Clear"></button>
        </div>

        @if (newTask.subTasks.length > 0) {
        <ul class="subtask_list">
          @for (subtask of newTask.subTasks; track $index) {
          <li class="subtask_item">
            <span class="subtask_bullet">•</span>
            <span class="subtask_title">
              {{ subtask.title }}
            </span>
            <div class="subtask_actions">
              <button class="subtask_edit" (click)="startEditSubtask($index)" title="Edit"><img
                  src="./assets/icons/board/edit.svg" alt=""></button>
              <div class="small_separator"></div>
              <button class="subtask_delete" (click)="removeSubtask($index)" title="Delete"><img
                  src="./assets/icons/board/delete.svg" alt=""></button>
            </div>
          </li>
          }
        </ul>
        }
      </div>
    </div>
    <div class="add_task_actions">
      <p class="add_task_info"><span>*</span>This field is required.</p>
    </div>
  </div>
  <div class="add_task_buttons">
    <button class="add_task_btn_cancel" (click)="resetForm()">Clear</button>
    <button class="add_task_btn_submit" (click)="saveTask(newTask)">Create Task</button>
  </div>
</div>