:host {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F6F7F8;
    position: relative;
}

img {
    width: 274px;
    height: 335px;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    transition:
        transform 0.7s ease,
        top 0.7s ease,
        left 0.7s ease,
        width 0.7s ease,
        height 0.7s ease;
}

img.animation {
    top: 70px;
    left: 70px;

    width: 100px;
    height: 122px;

    transform: translate(0, 0) scale(1);
}


@media(max-width:700px) {
    :host {
        background: #2A3647;

        img {
            width: 100px;
            height: 121px;
        }

        img.animation {
            top: 40px;
            left: 30px;

            width: 64px;
            height: 78px;

            transform: translate(0, 0) scale(1);
        }
    }
}