:host {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F6F7F8;
    
    img{
        width: 274px;
        height: 335px;
    }
}