<div class="card">
    <span class="category">User Story </span>
    <p class="title">Requirements</p>
    <p class="description">Read requirements and create test cases from it</p>
    <div class="subtasks">
        <p>Read carefully the requirements </p>              
    </div>
    <div class="content_wrapper">
        <div class="assigned_to">
            <p>Mario Keller</p>            
        </div>

        <div class="priority">
            <!-- @if (item.priority === "urgent") {
                <img src="./assets/icons/board/Prio alta.svg" alt="">
            } @else if(item.priority === "medium") {
                <img src="./assets/icons/board/Prio media.svg" alt="">
            } @else if(item.priority === "low") {
                <img src="./assets/icons/board/Prio baja.svg" alt="">
            } -->
        </div>
    </div>
</div>