

<section>

    <div class="dialog_content">

        <div class="headline">
            <div class="category" >
                User Story
            </div>
            
            <div class="close_btn" >
                <img src="./join-project/public/assets/icons/contact/close.svg" alt="close">
            </div>
        </div>

        <h1 class="title_content">Create test cases</h1>
        <h4>Read requirements and create test cases from it</h4>

        <div class="date_prio_content">
            <p class="title2">Due date:</p>
            <p>30.11.2025</p>
        </div>
        <div class="date_prio_content">
            <p class="title2">Priority:</p>
            <div class="priority"> <p>Urgent</p>                
                <img src="./assets/icons/board/Prio alta.svg" alt="">                
            </div>           
        </div>

        <div class="assigned_content">
            <p class="title2">Assigned To:</p>
            <div class="members_content">
                <div class="assigned_to">                    
                    <div class="person_box">
                        <div class="color_icon" >
                            <p>MK</p>
                        </div>
                    <p>Mario Keller</p>
                    </div>
                      
                </div>
            
            </div>
        </div>

        <div class="subtasks_content">
            <p class="title2">Subtasks</p>
    
            <div class="show_subtask" >
                <label class="checkbox_content" >
                    <input 
                        type="checkbox"          
                    >
                    <img class="unchecked" src="./assets/icons/board/checkbox-unchecked.svg" alt="unchecked" >
                    <img class="checked" src="./assets/icons/board/checkbox-checked.svg" alt="checked" >
                    <p>Read carefully the requirements and formulate questions</p>
                </label>
            </div>
        </div>
        

        <div class="delete_edit_content">
            <div class="delete_box" >
                           <img src="./assets/icons/board/delete.svg" alt="delete">
                <p>Delete</p>
            </div>
            <img src="/assets/icons/board/Vector 3.svg" alt="">
            <div class="edit_box" >
                <img src="./assets/icons/board/edit.svg" alt="edit">
                <p>Edit</p>
            </div>
        </div>
    </div>

      

</section>
