main {
    height: calc(100vh - 140px);
    max-width: 1920px;
    padding: 60px 100px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #000000;
    overflow-y: scroll;

    .close_btn_loggedout {
        position: absolute;
        top: 60px;
        right: 80px;
        width: 24px;
        height: 24px;
        z-index: 1000;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;


        img {
            border: none;
            background: none;
            display: none;
        }

        h1 {
            font-size: 61px;
            font-weight: 700;
        }
    }

    h2 {
        font-size: 27px;
        font-weight: 700;
        margin-top: 15px ;
    }

    a {
        color: #1a73e8;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    span {
        color: #29ABE2;
    }
}


@media (max-width: 1000px) {
    main {
        padding: 50px 60px;

        header {
            img {
                display: block;
            }

            h1 {
                font-size: 52px;
            }
        }

        h2 {
            margin-top: 14px;
        }
    }
	.close_btn_loggedout{
        display: none;
    }

}

@media (max-width: 900px) {
    main {
        padding: 44px 44px;

        header {

            h1 {
                font-size: 47px;
            }
        }

        h2 {
            margin-top: 13px;
        }
    }
}

@media (max-width: 800px) {
    main {
        padding: 40px 32px;

        h2 {
            margin-top: 12px;
        }
    }
}

@media (max-width: 720px) {
    main {
        padding: 36px 25px;

        h2 {
            margin-top: 11px;
        }
    }
}

@media (max-width: 600px) {
    main {
        padding: 30px 20px;

        h2 {
            margin-top: 10px;
        }
    }
}

@media (max-width: 480px) {
    main {
        padding: 24px 8px;

        h2 {
            margin-top: 9px;
        }
    }
}

@media (max-width: 375px) {
    main {
        padding: 20px 8px;

        header {
            h1 {
                font-size: 35px;
            }
        }

        h2 {
            font-size: 25px;
            margin-top: 8px;
        }
    }
}

@media (max-width: 320px) {
    main {
        padding: 16px 8px;

        h2 {
            margin-top: 6px;
        }
    }
}